<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    

    <!-- <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        
    </joint>

    <link name="base_footprint"></link> -->


    <link name="tof">
        <visual>
            <geometry>
                <cylinder radius="0.01" length="0.01"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.01" length="0.01"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.01" length="0.01" radius="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <joint name="tof_joint" type="fixed">
        <parent link="chassis"/>
        <child link="tof"/>
        <origin xyz="0.192 0.0 0.06" rpy="0 0 0"/>
    </joint>

    <gazebo reference="tof">
        <material>Gazebo/Red</material>

        <sensor name="tof" type="ray">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <pose>0.0 0 0.0 0 0 0</pose>
            <update_rate>50</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>5</samples>
                        <resolution>1.0</resolution>
                        <min_angle>-0.18</min_angle>
                        <max_angle>0.18</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>5</samples>
                        <resolution>1.0</resolution>
                        <min_angle>-0.01</min_angle>
                        <max_angle>0.01</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>8</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="bytes_ultrasound" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <namespace>distance</namespace>
                    <remapping>~/out:=range</remapping>
                </ros>
                <output_type>sensor_msgs/Range</output_type>
                <radiation_type>ultrasound</radiation_type>
                <frame_name>tof</frame_name>
            </plugin>
        </sensor> 
    </gazebo>  
</robot>